<html>
	<body>
		
		<div>
			<% posts.each do |post| %>
				
				<div class="post">
					
					<h2 class="title">
						
						<a href="/show_post/<%= post.id %>"><%= post.title %></a>
					</h2>

					<small class="meta">
						<span class="author">by <%= post.author %> - </span>
						<em class="created_at"><%= post.created_at %></em>
					</small>
		 			<form method="post" action="/delete_post/<%= post.id %>" style="display: inline">
						<input type="submit" value="delete">
					</form>
				
				</div>
			
			<% end %>
			<br>
			<a href="/new_post">Create new post</a>
		</div>

	</body>
</html>
