<html>
  <body>

    <div class="post">
      <h2 class="title">
        <%= post.title %>
      </h2>

      <small class="meta">
        <span class="author">by <%= post.author %> -</span>
        <em class="created_at"><%= post.created_at %></em>
      </small>

      <p class="body"><%= post.body %></p>
      <a href="/list_posts/">Posts index</a>
    </div>

    <br />
    <a href="/edit_post/<%= post.id %>">Edit</a>

  </body>
</html>